# macOS

.DS_Store

# Entorno y configuración local

.env
.env.*
.phpunit.result.cache

# Dependencias y compilados

/node_modules/
/vendor/
/bootstrap/cache/
/storage/
/public/build/
/public/hot

# Logs y cachés

/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# IDEs y editores

/.idea/
/.vscode/
/*.code-workspace

# Herd, Valet, Laravel

/.herd/
/valet

# Otros archivos locales o temporales

npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
package-lock.json

# Mantener solo este directorio

!styles_design_inspiration/


